@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#top-background {

    position: relative;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-page-overlay {
    background-color: #b21d1f77;
    backdrop-filter: blur(15px);
    height: 100vh;
    width: 100%;
    position: absolute;

}

#top-background .backimg {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#top-background .mobile {
    display: none;
}

#top-background .pc {
    display: block;
}

@media (max-width:800px) {
    #top-background .pc {
        display: none;
    }

    #top-background .mobile {
        display: block;
        width: 800px;
    }
}

#navbar-toggler {
    border: none;
    box-shadow: none;
    outline: none;
}

#navbar-toggler:focus,
#navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand img {
    width: 120px;
}

#navbar-container {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 234238;
}
@media (max-width:800px){
    #navbar-container {
        position: static;
        /* top: 0px;
        right: 0;
        left: 0; */
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 234238;
    }
}
#navbarSupportedContent {
    justify-content: end;
}

#navbarSupportedContent ul .nav-item .nav-link {
    color: #431F1C;
    font-size: 20px;
    font-weight: 500;
}

#top-background .navbar {

    text-align: center;
    margin: 0px auto;
    border-radius: 0px;
    width: 100%;
    padding: 0.5rem 4rem;
    background-color: #ffeded7a;
    /* Adjust the alpha (transparency) value as needed */
    backdrop-filter: blur(8px);
    /* Adjust the blur radius as needed */
}

@media (max-width:800px) {


    #top-background .navbar {

        text-align: center;
        margin: 0px auto;
        border-radius: 0px;
        width: 100%;
        padding: 0.5rem 2rem;
        background-color: #FFEDED;
        /* Adjust the alpha (transparency) value as needed */
        backdrop-filter: blur(1px);
        /* Adjust the blur radius as needed */
    }
}

.main-section {

    background-color: #FFEDED;
    width: 100%;
    height: 100%;
    /* padding-top: 10%; */
    display: flex;
    flex-direction: column;
}

.main-section .first {
    margin-top: 10%;
}

.main-section .third {
    margin-top: 10%;
}

.main-section .first,
.main-section .second,
.main-section .third {
    width: 100%;
    /* margin: ; */
    border-radius: 30px;
    /* height: 60vh; */
    /* background-color: rgba(255, 0, 0, 0.082); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section .first img,
.main-section .second img,
.main-section .third img {
    border-radius: 20px;
}

.About-content {
    /* position: relative; */
    background-image: url("./WhatsApp\ Image\ 2024-03-14\ at\ 12.34.59\ AM.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 2rem 0rem;
    background-size: 5px;
}

.main-heading {
    font-size: 4em;
    font-family: sans-serif;
    margin: 20px 0px;
    font-weight: 400;
    color: rgb(67, 31, 28);
}

@media (max-width:600px) {
    .main-heading {
        font-size: 3em;
        font-weight: 400;
        color: rgb(67, 31, 28);
    }
}



.About-content .overlay {
    height: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}

#Parallax_Gallery .col-lg-6 {
    display: flex;
}

#Parallax_Gallery .col-lg-6 img {
    height: auto;
    cursor: pointer;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    transition: transform 0.3s ease;
}

#Parallax_Gallery .col-lg-6 img:hover {
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}


#Parallax_Gallery .row .col-lg-6:nth-child(even) {
    background-color: #B21D1F;
    padding-top: 12rem;
    padding-bottom: 2rem;

}

#Parallax_Gallery {
    padding: 40px 0px;
}

@media (max-width:600px) {
    #Parallax_Gallery .row .col-lg-6:nth-child(even) {
        background-color: #BF0024;
        padding-top: 0rem;
    }

    #Parallax_Gallery .col-lg-6 img {
        width: 90%;
        border-radius: 20px;
        margin: auto;
        transition: transform 0.3s ease;
    }
}

.owner-info  {
    padding: 3rem 0rem;
    background-color: #FFEDED;
}

.owner-img {
    display: flex;
    justify-content: center;
}

.owner-img img {
    width: 60%;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
}

@media (max-width:600px) {
    .owner-img img {
        width: 100%;
        border-radius: 50px;
        padding: 10px;
        margin: auto;
    }
}


.lerp-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.25rem;
    /* line-height: 2px; */
}

.lerp-wrap span {
    position: relative;
    width: 20px;
    /* width:100px;
    height:100px; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(32px, 3vw, 8vw);
    font-weight: 700;
    /* background:#fff; */
}

@media (max-width:600px) {
    .lerp-wrap span {
        position: relative;
        width: 0px;
        /* width:100px;
        height:100px; */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(32px, 3vw, 8vw);
        font-weight: 700;
        /* background:#fff; */
    }

}

/* .brand-name {
    background-color: rgb(237, 194, 191);
}

.brand-name h1 {
    font-size: 8rem;
    margin: auto;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    text-shadow: none;
} */

#footer {
    background-color: rgb(237 194 191);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    padding: 2rem 0rem;
    padding: 2rem 6rem;
}

#footer .col-lg-6 p,
#footer .col-lg-3 p {
    color: #431F1C;
    font-size: 14px;
    font-weight: 500;
}

#footer .footer-ul {
    padding: 0px;
}

#footer .footer-ul li {
    list-style: none;
    color: #431F1C;
    font-size: 14px;
    font-weight: 500;
}

#footer .footer-ul i {
    font-size: 20px;
    padding: 2px;
    margin: 0px 10px;
    transition: 1s;
}

#footer .footer-ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #431F1C;
    line-height: 25px;
}

#footer .footer-ul li:hover a i {
    background-color: #431F1C;
    color: white;
    padding: 2px;
    border-radius: 5px;
    transition: 1s;
}

#footer .col-lg-4 img {
    width: 200px;
}

@media (max-width:600px) {
    #mobile-device .col-lg-4 {
        margin: 20px 0px;
    }

    #footer {
        background-color: rgb(237 194 191);
        color: rgb(0, 0, 0);
        /* text-align: center; */
        padding: 2rem 0rem;
        padding: 1rem 1rem;
    }
}

.bottom_header {
    position: absolute;
    bottom: 9%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;
    z-index: 5463465663464;
}

@media (max-width:600px) {
    .bottom_header {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        /* display: flex; */
        justify-content: space-between;
        padding: 0rem 1rem;
    }
}

/* Define the animation */
@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
        /* Adjust this value to control the up movement */
    }

    100% {
        transform: translateY(0);
    }
}

/* Apply the animation to the arrow icon */
.arrow {
    animation: arrowAnimation 2s ease-in-out infinite;
    /* Adjust the duration as needed */
    font-size: 3rem;
}

.arrow-animation {
    /* border: 1px solid black; */
    border-radius: 50px;
    cursor: pointer;
    padding: 2px 20px;
    font-size: 1.2rem;
    font-weight: 600;
}


.arrow-animation a {
    text-decoration: none;
    color: #ffffff;
}

.event-content p span {
    font-size: 2rem;
    font-weight: 600;

}

.event-content p {
    font-size: 2rem;
    margin: 0px;
    font-weight: 400;
}

/* #Parallax_Gallery{
    padding-bottom: 50px;
} */
#Parallax_Gallery .border-radius {
    border-radius: 20px 0px 0px 0px;
}

#Parallax_Gallery .border-radius-end {
    border-radius: 0px 0px 0px 20px;
}

@media (max-width:600px) {
    .event-content p span {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .event-content p {
        font-size: 1.3rem;
        margin: 0px;
        font-weight: 400;
    }

    #Parallax_Gallery {
        padding: 50px 0px;
    }

    #Parallax_Gallery .col-lg-6 img {
        margin: 20px auto;
    }

    #Parallax_Gallery .border-radius {
        border-radius: 0px 0px 0px 0px;
    }

    #Parallax_Gallery .border-radius-end {
        border-radius: 0px 0px 0px 0px;
    }
}



.container__img-holder img {
    width: 100%;
    height: 220px;
    display: block;
}


.main-heading-home-top {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 234234;
    bottom: 0;
}

.main-heading-home-top h2 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.main-heading-home-top h1 {
    font-size: 8rem;
    font-weight: 500;
    color: white;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: text-pop-up-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#replay {
    margin: 0px auto;
    padding: 20px;
    width: 50px;
    height: 50px;
    background: url("https://cdn1.iconfinder.com/data/icons/navigate-the-interface/256/Ui_glyphs_replay-512.png") 50% 50% no-repeat;
    background-size: 38px;
    text-indent: -99999px;
    border: 0px;
    display: block;
    outline-style: none;
    cursor: pointer;
}

#replay:hover {
    border-radius: 30px;
    border: 3px solid #414042;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
            0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
            0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
            0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
            0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

.aniamted-text {
    /* width: 80%;
    margin: auto; */
    text-align: center;
    /* perspective: 800px;
    min-width: 320px;
    margin-top: 4em; */
}

.aniamted-text span {
    display: inline-block;
    color: #ffffff;
    font-size: 4em;
    transform-origin: 50% 70%;
}

br {
    display: none;
}


/* Every second .aniamted-text span */

.aniamted-text span:nth-child(2n) {
    color: #fdfdfd;
}

.aniamted-text span:nth-child(1) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
}

.aniamted-text span:nth-child(2) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
}

.aniamted-text span:nth-child(3) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
}

.aniamted-text span:nth-child(4) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
}

.aniamted-text span:nth-child(5) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;

}

.aniamted-text span:nth-child(6) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;

}

.aniamted-text span:nth-child(7) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
    padding-right: 20px;
}

.aniamted-text span:nth-child(8) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;

}

.aniamted-text span:nth-child(9) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
}

.aniamted-text span:nth-child(10) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
}

.aniamted-text span:nth-child(11) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
}


/* ANIMATION */

@keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}


/* RESPONSIVE STUFF */

@media screen and (min-width: 400px) {
    .aniamted-text span {
        font-size: 4em;
    }

    .aniamted-text span:nth-child(5) {
        margin: 0;
    }
}

@media screen and (min-width: 600px) {
    .aniamted-text span {
        font-size: 5em;
    }

    .aniamted-text span:nth-child(5) {
        margin: 0;
    }
}

@media screen and (min-width: 916px) {
    .aniamted-text span {
        font-size: 6.2em;
    }

    .aniamted-text span:nth-child(5) {
        display: inline-block;
        margin: 0;

    }
}

.containerrrr .welcome {
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
}

.containerrrr {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*隐藏作用：如果没有用transform方式进行居中显示，则width：100%会向右侧延申，左侧为空*/
    /* width: 100%; */
}

.welcome {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 8px;
    margin-bottom: 20px;
    /* background: #b21d1f77; */
    position: relative;
    animation: text 3s 1;
}

.muzile {
    font-size: 8rem;
    font-weight: 700;
    color: #ffffff;
    animation: texst 3s 1;
    transition: .5s;
}

.muzile:hover {
    font-size: 8rem;
    font-weight: 700;
    color: #cacaca;
    animation: texst 3s 1;
    transition: .5s;
}

@keyframes text {
    0% {
        color: #000;
        margin-bottom: -40px;

    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;

    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;

    }
}

@keyframes texst {
    0% {
        color: #000;



    }

    30% {
        letter-spacing: 25px;

        margin-top: 20px;
    }

    85% {

        letter-spacing: 8px;

        margin-top: 20px;
    }

}

@media (max-width:700px) {

    .welcome {
        font-size: 1.5rem;
        font-weight: 700;
        color: #fff;
        letter-spacing: 8px;
        margin-bottom: 20px;
        /* background: #b21d1f77; */
        position: relative;
        animation: text 3s 1;
    }

    .muzile {
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
        animation: texst 3s 1;
        transition: .5s;
    }
}

.Gallery {
    /* background-color: red; */
    /* height: 50vh; */

}

.Images_Gallery {
    /* background-color: green; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* height: 40vh; */
}

.Images_Gallery div img {
    width: 100%;

}

.Images_Gallery .col-lg-4 {
    padding: 0px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 30px 0px; */
    transition: 0.5s;
}
@media (max-width:600px){
    .icons-container {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        margin: 20px 0px;
        transition: 0.5s;
    }
}

.icons-container:hover {
    transform: translatey(-20px);
    transition: 0.5s;
}

.icons-container img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 40%;
    transition: .5s;
    margin: 30px 0px;
}

.Gallery {
    padding: 40px 0px;
}

.icons-container:hover img {
    transform: scale(1.2);
    transition: .5s;

}

.categories {
    padding: 50px 0px;
}

.owner-info img {
    width: 100%;
}

.demo-gallery {
    display: flex;
    padding: 7rem 0rem;
    overflow: auto;
    background: url("back.png");
    background-attachment: fixed;
}

 /* WebKit-based browsers */
 .Gallery::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    border-radius: 50%;
}

.Gallery::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.Gallery::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 50%; /* Rounded corners */
}

/* For Firefox */
.Gallery {
    scrollbar-width: thin;
    scrollbar-color: #b21d1fe7 rgb(255, 255, 255);
 
}
@media(max-width:600px) {
    .Gallery {
        display: flex;
        padding: 2rem 0rem;
        overflow: auto;
        background: url("back.png");
        background-attachment: fixed;
    }
    .icons-container img {
        aspect-ratio: 3/2;
        object-fit: contain;
        width: 40%;
        transition: .5s;
        margin: 0px 0px;
    }
}

.Gallery img {
    width: 321px;
    border-radius: 30px;
    margin: 0px 20px;
}

.Gallery div {
    width: 100%;
}
.Icon-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}
#gallery div{
    display: flex;
    align-items: center;
}
.demo-gallery  img{
    width: 100%;
}

.demo-gallery {
    display: flex;
    padding: 3rem 0rem;
}
.owner-image img{
    width: 100%;
}
.owner-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width:600px) and (max-width:1000px){
   
    .owner-image img{
        width: 60%;
        padding-bottom: 20px;
    }
}

.both-images img{
    height: 30vh;
    border-radius: 10px;
}
.main-gallery-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 60vh; */
}
.single-image{
    display: flex;
    justify-content: end;
    align-items: center;
}
.single-image img{
    height: 61vh;
    border-radius: 10px;
}
@media (max-width:900px){
    .main-gallery-container{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* height: 60vh; */
    }
    .both-images{
        display: flex;
    }
    .both-images img{
        height: 100%;
        width: 100%;
    }
    .single-image img{
        height: 100%;
        width: 100%;
    }
}
.both-images div{
    margin: 10px;
}

/* 
.containerrrrr {
    max-width: 900px;
    margin: 80px auto 0;
    text-align: center;
  } */
  

  
  .containerrrr .container__img-holder:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .container__img-holder img {
    width: 100%;
    /* height: 220px; */
    display: block;
  }
  
  
  /* Popup Styling */
  .img-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgb(87 87 87 / 61%);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .img-popup img {
    max-width: 600px;
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  
  .close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-btn .bar {
    height: 4px;
    background: #333;
  }
  
  .close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .opened {
    display: flex;
  }
  
  .opened img {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
  }
  
  @keyframes animatepopup {
  
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }
  
  @media screen and (max-width: 880px) {
  
    .containerrrr .container__img-holder:nth-child(3n+1) {
      margin-left: 16px;
    }
  
  }
  #contactUs{
    padding: 3rem 0rem;
  }
  #contactUs .col-lg-6{
    display: flex;
    flex-direction: column;
  }
  #contactUs .col-lg-12{
    display: flex;
    flex-direction: column;
  }
  #contactUs .col-lg-6 label{
    margin: 4px 0px;
  }